<div class="home-container">

	<div class="bibli">
		<div class="blocimgbibli">
			<button class="playbutton" type="button">Jouer</button>
			<%= image_tag("/assets/Blasphemous.jpg",  alt: "Blasphemous", class: "imgbibli") %>
		</div>
		<div class="blocimgbibli">
			<button class="playbutton" type="button">Jouer</button>
			<%= image_tag("/assets/Arma3.jpg",  alt: "Arma3", class: "imgbibli") %>
		</div>
		<div class="blocimgbibli">
			<button class="playbutton" type="button">Jouer</button>
			<%= image_tag("/assets/CueClub2.jpg",  alt: "CueClub2", class: "imgbibli") %>
		</div>
		<div class="blocimgbibli">
			<button class="playbutton" type="button">Jouer</button>
			<%= image_tag("/assets/EdgeOfEternity.jpg",  alt: "EdgeOfEternity", class: "imgbibli") %>
		</div>
		<div class="blocimgbibli">
			<button class="playbutton" type="button">Jouer</button>
			<%= image_tag("/assets/Destiny2.jpg",  alt: "Destiny2", class: "imgbibli") %>
		</div>
		<div class="blocimgbibli">
			<button class="playbutton" type="button">Jouer</button>
			<%= image_tag("/assets/PathofExile.jpg",  alt: "PathOfExile", class: "imgbibli") %>
		</div>
		<div class="blocimgbibli">
			<button class="playbutton" type="button">Jouer</button>
			<%= image_tag("/assets/GreedFall.jpg",  alt: "GreedFall", class: "imgbibli") %>
		</div>
		<div class="blocimgbibli">
			<button class="playbutton" type="button">Jouer</button>
			<%= image_tag("/assets/FootballManager2019.jpg",  alt: "FootballManager", class: "imgbibli") %>
		</div>
	</div>
</div>