

<div class="home-container">


	<div class="bigpicture">
		<%= image_tag("/assets/ELITEDANGEROUS.jpg",  alt: "ELITEDANGEROUS", class: "imgbigpic") %>
		<div class="bigpicture-text">
			<h2 class="h2bigpic">SUPER ELITE BATTLE</h2>
			<h4 class="h3bigpic">PRECOMMANDE DISPONIBLE</h4>
		</div>
	</div>


	<div class="titrecaroussel">
		<h3 class="titrecar"> Jeux Indés </h3>
		<%= image_tag("/assets/fleche.png",  alt: "fleche", class: "flechecat") %>
	</div>
		<div class="caroussel-wrapper">
			<div class="imgcaroussel">
				<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button">29.99€</button>
				<%= image_tag("/assets/Blasphemous.jpg",  alt: "Blasphemous", class: "imgcar") %>
				</div>
			<div class="blocimgcar">
			<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton" type="button">29.99€</button>
				<%= image_tag("/assets/DiceyDungeons.jpg",  alt: "DiceyDungeons", class: "imgcar") %>
			</div>
			<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton" type="button">29.99€</button>
				<%= image_tag("/assets/EuroTruckSimulator2.jpg",  alt: "EuroTruckSimulator2", class: "imgcar") %>
			</div>
			<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton" type="button">29.99€</button>
				<%= image_tag("/assets/whileTruelearn.jpg",  alt: "whileTruelearn", class: "imgcar") %>
			</div>
			<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button">29.99€</button>
				<%= image_tag("/assets/Blasphemous.jpg",  alt: "Blasphemous", class: "imgcar") %>
				</div>
			<div class="blocimgcar">
			<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton" type="button">29.99€</button>
				<%= image_tag("/assets/DiceyDungeons.jpg",  alt: "DiceyDungeons", class: "imgcar") %>
			</div>
			<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton" type="button">29.99€</button>
				<%= image_tag("/assets/EuroTruckSimulator2.jpg",  alt: "EuroTruckSimulator2", class: "imgcar") %>
			</div>
			<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton" type="button">29.99€</button>
				<%= image_tag("/assets/whileTruelearn.jpg",  alt: "whileTruelearn", class: "imgcar") %>
			</div>
		</div>
			<img id="left-scroll" alt="fleche" class="flechescroll left-scroll" src="/assets/flechescroll.png">
			<img id="right-scroll" alt="fleche" class="flechescroll right-scroll" src="/assets/flechescrollright.png">
		</div>
		


		<div class="titrecaroussel">
			<h3 class="titrecar"> Stratégie </h3>
			<%= image_tag("/assets/fleche.png",  alt: "fleche", class: "flechecat") %>
		</div>
		<div class="caroussel-wrapper">
			<div class="imgcaroussel">
				<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button">29.99€</button>
				<%= image_tag("/assets/AgeofDefense.jpg",  alt: "AgeofDefense", class: "imgcar") %>
				</div>

				<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button">29.99€</button>
				<%= image_tag("/assets/Arma3.jpg",  alt: "Arma3", class: "imgcar") %>
				</div>

				<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button">29.99€</button>
				<%= image_tag("/assets/CliffEmpire.jpg",  alt: "CliffEmpire", class: "imgcar") %>
				</div>	

				<div class="blocimgcar">

				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button"> 29.99€</button>
				<%= image_tag("/assets/CivilizationV.jpg",  alt: "CivilizationV", class: "imgcar") %>
				</div>
			</div>
			<img id="left-scroll" alt="fleche" class="flechescroll left-scroll" src="/assets/flechescroll.png">
			<img id="right-scroll" alt="fleche" class="flechescroll right-scroll" src="/assets/flechescrollright.png">
		</div>

		<div class="titrecaroussel">
			<h3 class="titrecar"> Aventure </h3>
			<%= image_tag("/assets/fleche.png",  alt: "fleche", class: "flechecat") %>
		</div>
		<div class="caroussel-wrapper">
			<div class="imgcaroussel">
			<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button">29.99€</button> 
				<%= image_tag("/assets/Destiny2.jpg",  alt: "Destiny2", class: "imgcar") %>
			</div>
			<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button">29.99€</button>
				<%= image_tag("/assets/EdgeOfEternity.jpg",  alt: "EdgeOfEternity", class: "imgcar") %>
			</div>
			<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button">29.99€</button>
				<%= image_tag("/assets/Remnant.jpg",  alt: "Remnant", class: "imgcar") %>
			</div>
			<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button">29.99€</button>
				<%= image_tag("/assets/SuperSeducer2.jpg",  alt: "SuperSeducer2", class: "imgcar") %>
			</div>
			</div>
			<img id="left-scroll" alt="fleche" class="flechescroll" src="/assets/flechescroll.png">
			<img id="right-scroll" alt="fleche" class="flechescroll" src="/assets/flechescrollright.png">
		</div>

		<div class="titrecaroussel">
			<h3 class="titrecar"> Sport </h3>
			<%= image_tag("/assets/fleche.png",  alt: "fleche", class: "flechecat") %>
		</div>
		<div class="caroussel-wrapper">
			<div class="imgcaroussel"> 
				<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button">29.99€</button>
				<%= image_tag("/assets/CueClub2.jpg",  alt: "CueClub2", class: "imgcar") %>
				</div>
				<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button">29.99€</button>
				<%= image_tag("/assets/PES2020.jpg",  alt: "PES2020", class: "imgcar") %>
				</div>
				<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button">29.99€</button>
				<%= image_tag("/assets/FishingPlanet.jpg",  alt: "FishingPlanet", class: "imgcar") %>
				</div>
				<div class="blocimgcar">
				<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenotaprix") %>
				<button class="prixbutton " type="button">29.99€</button>
				<%= image_tag("/assets/FootballManager2019.jpg",  alt: "FootballManager2019", class: "imgcar") %>
			 </div>
			</div>
			<img id="left-scroll" alt="fleche" class="flechescroll" src="/assets/flechescroll.png">
			<img id="right-scroll" alt="fleche" class="flechescroll" src="/assets/flechescrollright.png">
		</div>

		<div class="titrecaroussel">
			<h3 class="titrecar"> RPG </h3>
			<%= image_tag("/assets/fleche.png",  alt: "fleche", class: "flechecat") %>
		</div>
		<div class="caroussel-wrapper">
			<div class="imgcaroussel"> 
				<%= image_tag("/assets/AssassinsCreedOdyssey.jpg",  alt: "AssassinsCreedOdyssey", class: "imgcar") %>
				<%= image_tag("/assets/CODEVEIN.jpg",  alt: "CODEVEIN", class: "imgcar") %>
				<%= image_tag("/assets/GreedFall.jpg",  alt: "GreedFall", class: "imgcar") %>
				<%= image_tag("/assets/PathofExile.jpg",  alt: "PathofExile", class: "imgcar") %>
			</div>
			<img id="left-scroll" alt="fleche" class="flechescroll" src="/assets/flechescroll.png">
			<img id="right-scroll" alt="fleche" class="flechescroll" src="/assets/flechescrollright.png">
		</div>
</div>