<div class="home-container">

	<div class="bloctitre">
		<%= image_tag("/assets/flecheg.png",  alt: "flecheg", class: "flechecat") %>
		<h1 class="titrejeu"> Sid meier's civilisation V </h1>
	</div>
	<div class="carrouselproduit">
		<%= image_tag("/assets/CivilizationV.jpg",  alt: "CivilizationV", class: "imgproduit") %>	
	</div>
	<div class="infojeu">
		<div class="infosjeuleft">
			<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoilenota") %>
			<h5 class="catjeu">Strategie</h5>
		</div>
		<div class="infojeuright">
        	<button class="buybutton" type="button">Acheter</button>
        	<h5 class="prixjeu">27.93€</h5>
        	<%= image_tag("/assets/coeur.png",  alt: "coeur", class: "wishlist") %>
		</div>
	</div>
	<div class="sortie">
		<%= image_tag("/assets/system.png",  alt: "systemes", class: "system") %>
		<h5 class="titrsortie">SORTI LE:</h5>
		<h5 class="dtsortie">23 Septembre 2010</h5>
	</div>
	<div class="editeur">
		<h5 class="titredit">EDITE PAR:</h5>
        <button class="editbutton" type="button">2K</button>
       	<button class="editbutton" type="button">ASPYR (MAC)</button>
      	<button class="editbutton" type="button">ASPYR (LINUX)</button>
	</div>
	<div class="developpeur">
		<h5 class="titredev">DEVELOPPE PAR:</h5>
        <button class="devbutton" type="button">FIRAXIS GAMES</button>
       	<button class="devbutton" type="button">ASPYR (MAC)</button>
      	<button class="devbutton" type="button">ASPYR (LINUX)</button>
	</div>
	<div class="description">
		<p>
			<b>UNE JOUABILITÉ ACCESSIBLE</b>: Lancez-vous et jouez à votre propre rythme grâce à une interface
intuitive qui accompagnera les nouveaux joueurs dans le jeu. Les habitués de Civilization apprécieront
quant à eux la profondeur, le détail et les contrôles qui ont fait la renommée de la série.</br></br>

<b>UN MONDE RÉALISTE</b>: Des graphismes ultra-détaillés mettant en avant les vastes paysages diversifiés
à explorer et à conquérir. Les influences art déco sont très présentes dans les menus et les icônes de l'un
des Civilization les plus soignés de la franchise.</br></br>

<b>COMMUNAUTÉ ET MULTIJOUEUR</b> : Affrontez des joueurs de Civilization du monde entier ou en LAN,
Créez des mods* d'une manière jamais vue auparavant et installez des mods directement à partir du hub
communautaire sans même quitter le jeu. Civilization V met la communauté aux premières lignes.</br></br>

<b>COMPATIBLE AVEC LA PLUPART DES PC </b>: Civilization V fonctionne sur beaucoup de systèmes
différents, des ordinateurs haut de gamme DX11 aux portables. Profitez des installations illimitées sur
de multiples PC avec votre compte Steam et emmenez votre Civ V partout avec vous.</br></br>

<b>DE TOUTES NOUVELLES CARACTÉRISTIQUES</b> : Un nouvelle grille hexadécimale ouvrant de nouvelles
perspectives de combats et de stratégies. Les villes-états deviennent une nouvelle ressource dans votre
diplomatie. Un système de diplomatie amélioré vous permet de négocier avec des leaders totalement
interactifs. Les musiques personnalisées et les pistes orchestrales offrent à Civ V des niveaux de finition
et de qualité auxquels vous vous attendez de la part de la franchise.</br></br>

<b>SOCIALEMENT RESPONSABLE </b>: 2K Games fait une donation de 250 000 $ à quatre œuvres de charité
et les choix des utilisateurs détermineront comment l'argent sera redistribué : faites simplement votre
choix à partir des œuvres de charité pré-sélectionnées durant l'étape d'installation.</br></br>

*L'outil de modding sera disponible ultérieurement et gratuitement.

Sélection des œuvres de charité disponible jusqu'au 31 décembres 2010. N'est pas valide sur tous
les territoires.

<b>Note</b> : La version Mac version de Sid Meier's Civilization V n'est disponible qu'en anglais, français, italien,
allemand et espagnol.

		</p>
	</div>

	<div class="contenudispo">
		<h5 class="titrecontenudispo">Contenus disponibles</h5>
		<%= image_tag("/assets/fleche.png",  alt: "flecheg", class: "flechecat") %>
	</div>

	<div class="contenuimg">
		<%= image_tag("/assets/civdlc1.jpg",  alt: "civdlc1", class: "civdlc") %>
		<%= image_tag("/assets/civdlc2.jpg",  alt: "civdlc1", class: "civdlc") %>
	</div>
<div class="config">
	<h5 class="titreconfig">Configuration requise</h5>
	<%= image_tag("/assets/fleche.png",  alt: "flecheg", class: "flechecat") %>
</div>

<%= image_tag("/assets/systeme.png",  alt: "systemecontenu", class: "systemecontenu") %>




<div class="configbox">
	

	<div class="windowsleft">
		<button class="windowsbutton" type="button">WINDOWS (MINIMUM)</button>
		<div class="text-config w-100 d-flex">
			<h1 class="text-config-title">INTERFACE:</h1>
			<p class="text-config-text">WINDOWS XP SP3</p>
		</div>
		<div class="text-config w-100 d-flex">
			<h1 class="text-config-title">PROCESSEUR:</h1>
			<p class="text-config-text">INTEL CORE DUO 1.8GHZ<br>AMD ATHLEON X2 64 2.0GHZ</p>
		</div>
		<div class="text-config w-100 d-flex">
			<h1 class="text-config-title">MEMOIRE:</h1>
			<p class="text-config-text">2 GO RAM</p>
		</div>
		<div class="text-config w-100 d-flex">
			<h1 class="text-config-title">GRAPHISMES:</h1>
			<p class="text-config-text">CORE I3<br>256 MO ATI HD2600 XT<br>256 MO NVIDIA 7900GS</p>
		</div>
		<div class="text-config w-100 d-flex">
			<h1 class="text-config-title">DIRECTX:</h1>
			<p class="text-config-text">VERSION 9.0C</p>
		</div>
		<div class="text-config w-100 d-flex">
			<h1 class="text-config-title">DISQUE DUR</h1>
			<p class="text-config-text">8GO</p>
		</div>

	</div>
	


	<div class="windowsright">
		<button class="windowsbutton" type="button">WINDOWS (RECOMMANDE)</button>
		<div class="text-config w-100 d-flex">
			<h1 class="text-config-title">INTERFACE:</h1>
			<p class="text-config-text">WINDOWS 7</p>
		</div>
		<div class="text-config w-100 d-flex">
			<h1 class="text-config-title">PROCESSEUR:</h1>
			<p class="text-config-text">1.8GHZ QUAD CORE</p>
		</div>
		<div class="text-config w-100 d-flex">
			<h1 class="text-config-title">MEMOIREVIVE:</h1>
			<p class="text-config-text">4GO RAM</p>
		</div>
		<div class="text-config w-100 d-flex">
			<h1 class="text-config-title">GAFFICHAGE:</h1>
			<p class="text-config-text">ATI 4800 SERIES 512MO</p>
		</div>
		<div class="text-config w-100 d-flex">
			<h1 class="text-config-title">DIRECTX:</h1>
			<p class="text-config-text">VERSION 11</p>
		</div>
		<div class="text-config w-100 d-flex">
			<h1 class="text-config-title">DISQUE DUR</h1>
			<p class="text-config-text">8GO</p>
		</div>
	</div>



</div>

<div class="backgroundavis">

<div class="avis">
	<h5 class="titreavis ">Avis de la communauté</h5>
	<%= image_tag("/assets/fleche.png",  alt: "flecheg", class: "flechecat") %>
</div>
	<div class="noteavis">
	<%= image_tag("/assets/etoile.png",  alt: "notation", class: "etoileavis") %>
	<p  class="pseudoavis">Hugopchrd</p>
	<p class="dateavis">1 Juillet</p>
	</div>

<p class="commentaire">Un super jeu de stratégie agréable à jouer. Seul bémol c'est que l'IA, commence à vous prendre en grippe lorsque la partie dépasse un certain point, ce qui est étrange, surtout lorsqu'un n'a jamais été en guerre, qu'on partageait les mêmes idéaux etc. Passer un cap c'est fini on est plus copains et c'est la course aux mesquineries. </p>

</div>
	
</div>
</div>




</div>